<create-new ng-if="vm.turn==1"></create-new>
<div class="usermanage">
    <h2 style="color: #448aff;text-align: center;"> LIST UNITS </h2>
    <hr>
    <table class="table table-striped">
        <div class="dropdown">
            <a class="btn-top" style="margin-right: 15px;" ng-class="vm.turn==1?'active':''" ng-click="vm.turnActive(1)" href="#" class="btn btn-primary btn-success pull-right"> <span class="glyphicon glyphicon-plus"></span> &nbsp Create New Unit</a>
        </div>
</div>
<thead>
    <tr class="row-name">
        <th>Id</th>
        <th>Unit Name</th>
        <th>Unit Title</th>
        <th>Picture</th>
        <th>Settings</th>
    </tr>
</thead>
<tbody>
    <tr class="row-content" ng-repeat="x in vm.unit track by $index">
        <td>{{x.unit_id}}</td>
        <td>{{x.name}}</td>
        <td>{{x.title}}</td>
        <td><img src="{{x.picture}}"></td>
        <td>
            <a class="btn btn-danger edit " ng-click="vm.deleteUnit(x.unit_id)" aria-label="Settings ">
                <i class="fa fa-trash " aria-hidden="true "></i>
              </a> &nbsp
            <a class="btn btn-info edit " href="path/to/settings " aria-label="Settings ">
                <i class="fa fa-pencil-square-o " aria-hidden="true "></i>
              </a>
        </td>
    </tr>
</tbody>
</table>
</div>