<div class="clock"><img src="../../../assets/images/clock.png"></div>
<h4 class="countdowntimer">{{vm.countdownTimer}}</h4>
<div class="doingtest">
    <div class="doingtest-page">
        <div class="headpage">
            <h5>VOCABULARY AND GRAMMAR TEST</h5>
            <a class="info">Level:{{vm.level}}</a>
            <a class="unitname">Test {{}}</a>
        </div>
        <div class="test-detail">
            <div class="content">
                <p>
                    Hướng dẫn: Phần này gồm 30 câu (từ câu 1-30), mỗi câu có một chỗ trống và bốn đáp án (A), (B), (C), và (D). Chọn đáp án đúng
                    nhất để hoàn thành các câu đã cho.</p>
            </div>
            <hr class="vien">
            <div ng-if="vm.questions" ng-repeat="question in vm.questions track by $index">
                <list-question question="question" stt="$index" status="vm.status"> </list-question>
            </div>
            <hr class="vien2">
            <button type="button" class="btn btn-success" data-target="#modal-default-submit" data-toggle="modal" ng-disabled="vm.isDisable">Nộp bài</button>
            <div id="modal-default-submit" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                            <h4 id="modal-default-label" class="modal-title">NỘP BÀI</h4>
                        </div>
                        <div class="modal-body">Bạn có chắc muốn nộp bài không?</div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">KHÔNG</button>
                            <button type="button" data-dismiss="modal" data-target="#modal-header-primary-result" data-toggle="modal" class="btn btn-primary"
                                ng-click="vm.getResult($event)">CÓ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-header-primary-result" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="true"
                class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                            <h4 id="modal-default-label" class="modal-title">NỘP BÀI</h4>
                        </div>
                        <div class="modal-body">KẾT QUẢ BÀI KIỂM TRA CỦA BẠN ĐẠT <span style="font-style:bold; color:blue">{{vm.count}}</span> CÂU</div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>