<div class="program">
    <main id="main" class="site-main" role="main">
        <article id="post-412" class="post-412 page type-page status-publish hentry no-thumb">
            <header class="entry-header">
                <!--<h1 class="entry-title screen-reader-text">Programs</h1>-->
            </header>
            <!-- .entry-header -->
            <div class="entry-content">
                <div class="container">
                    <div class=" row tm_pb_row tm_pb_row_0">
                        <div class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                            <div class="tm_pb_text tm_pb_module tm_pb_bg_layout_light tm_pb_text_align_center main-title tm_pb_text_0">

                                <h2 style="text-align: center;">Our Programs</h2>

                            </div>
                            <!-- .tm_pb_text -->
                        </div>
                        <!-- .tm_pb_column -->
                    </div>
                    <!-- .tm_pb_row -->
                </div>
                <div class="container">
                    <div class="row">
                        <div ng-repeat="program in vm.unit">
                            <list-program program="program"> </list-program>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="entry-footer">
            </footer>
        </article>
        <!-- #post-## -->
    </main>
    <!-- #main -->
</div>