<div class="unitmanage">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Create New Lesson</legend>
            <div class="form-group">
                <label for="inputType" class="col-md-4  control-label">Unit name
                                <span class='require'>*</span>
                            </label>
                <div class="col-md-4 ">
                    <select class="select-refresh form-control required" name="name" ng-model="vm.lesson.unit_id" required>
                        <option ng-repeat="unit in vm.units" value ="{{unit.unit_id -1}}">{{unit.name}}</option>
                                </select>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Lesson Name</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" ng-model="vm.lesson.name" placeholder="Lesson Name" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="lastname">Lesson Title</label>
                <div class="col-md-4">
                    <input id="lastname" name="lastname" type="text" ng-model="vm.lesson.title" placeholder="Lesson Title" class="form-control input-md">

                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-success" ng-click="vm.createlesson()">Create</button>
                    <button id="button2id" name="button2id" class="btn btn-danger" ng-class="vm.turn==0?'active':''" ng-click="vm.turnActive(0)">Cancel</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>