.unitmanage{
margin-right:15%;
margin-left:-70px;
    .btn-danger:hover, .btn-success:hover {
    color: #fff;
    background-color: #141D25 !important;
}
.btn-success {
    color: #fff;
    background-color: #448AFF;
    border-color: #448AFF;
}
.btn-danger{
        color: #fff;
    background-color: #C9302C;
    border-color: #C9302C;
}
legend{
    height: 50px;
    font-size:30px;
    color:#448AFF;
}
#button1id{
    width:100px;
}
.row-content{
    img{
        width:50px;
    }
}
.table{
    margin-left:180px;
}
}